.anbau-list{
  background: #e1e1e1;
  margin: 1em;
  padding: 1em;
  font-size: .75rem;
  color: #95979d;
}
.anbaumin{
  cursor:pointer;
  display: block;
  position: relative;
  padding: .75em 5em .75em 1em;
  border-radius: .25em;
  margin-bottom: .5em;
  background: #fff;
  box-shadow:
    /* regular bottom */
    0 .0625em .125em rgba(0, 0, 0, .125),
    /* inset bottom */
    inset 0 -.25em 0 -.125em rgba(0, 0, 0, .125),
    /* category color (left) */
    inset 2em 0 0 -.7em rgba(0, 0, 0, .05),
    /* arrow background (right) */
    inset -2em 0 0 -.3em rgba(0, 0, 0, .05);
}
